# Exclude virtual environment folder
venv/
build/
dist/
__pycache__/
temp/
logs/

# Exclude log files
*.log
# Exclude compiled Python files
*.pyc
# Exclude IDE specific files
.idea/
# Exclude executable files
*.exe